{%extends 'all-images/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

<body>
    <div class = "container">
      <div class="well">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Profile</button>
         <div id="demo" class="collapse">
          {% for pic in profile %}
          <a href="{%url 'profil' pic.id%}"><p style="color:blanchedalmond;padding:5px;font-size: 20px;font-family: monospace;"><strong>{{pic.first_name}}</strong></p></a>
          {% endfor %}         
            
         </div> 
      </div>

   {% for pic in images %}

  <h4 class="modal-title"><strong>{{pic.image.title}}</strong></h4>          
       <a href="/images/{{pic.id}}"><img src="{{pic.image.url}}" alt="Image" width='400' length='500'></a>
  <p><strong><em>{{pic.image.caption}}</em></strong></p><br>


  {% endfor %}
</div>
</body>

{% endblock %}
               


